<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Analyzed Text.com</title>
    <style>
          .container{
           padding-left: 200px;
           padding-right: 100px;
           
        }
     
    </style>
</head>
<body>
    <div class="container">
        <h1>Your analyzed Text on <br> {{purpose}} </h1>
        <br><br>
        <h1><pre>{{analyzed_text}}</pre></h1>
    </div>
    
</body>
</html>
